<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">
    
    <description>导入桐人中的ApplicationContext文件列表</description>
     
    <!-- optional --> 
	<import resource="classpath:dubbo/tongren-dubbo-provider.xml" />
	<!-- 
	<import resource="classpath:mongo/tongren-mongo-config.xml" />
	 -->
	<import resource="classpath:metadata-dubbo-consumer.xml" />
	<import resource="classpath:user-dubbo-consumer.xml"/>
	<import resource="classpath:file-dubbo-consumer.xml"/>
	<import resource="classpath:mq/rocketmq.xml"/>
	<import resource="classpath:rocketmq-dubbo-consumer.xml"/>
	<import resource="classpath:metadata-directory-consumer.xml"/>
	<import resource="classpath:tags-dubbo-consumer.xml"/>
	<import resource="classpath:person-dubbo-consumer.xml"/>
	<import resource="classpath:knowledge-dubbo-consumer.xml"/>
	<!-- 
	<import resource="classpath:affair-dubbo-consumer.xml"/>
	<import resource="classpath:search-dubbo-consumer.xml"/>
		 -->
		 
<dubbo:reference id="affairService" interface="com.ginkgocap.ywxt.affair.service.AffairService" version="1.0.3"/>
</beans>
