body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:60px;
  width:220px;
  height:860px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:860px;
}
#u1 {
  position:absolute;
  left:2px;
  top:422px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:100px;
  top:60px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:111px;
  top:67px;
  width:37px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:43px;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:119px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:111px;
  top:126px;
  width:37px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:43px;
}
#u10 {
  position:absolute;
  left:2px;
  top:14px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:100px;
  top:178px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:111px;
  top:185px;
  width:37px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:43px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:275px;
  top:197px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:100px;
  top:237px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u18 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:158px;
  top:80px;
  width:82px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:158px;
  top:139px;
  width:72px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:158px;
  top:198px;
  width:122px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:158px;
  top:257px;
  width:142px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:100px;
  top:296px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u28 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:158px;
  top:316px;
  width:142px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:100px;
  top:355px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u32 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:111px;
  top:362px;
  width:37px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:43px;
}
#u34 {
  position:absolute;
  left:2px;
  top:14px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:275px;
  top:374px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:100px;
  top:414px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u38 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:158px;
  top:375px;
  width:122px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:158px;
  top:434px;
  width:142px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:100px;
  top:473px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:158px;
  top:493px;
  width:142px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:100px;
  top:0px;
  width:1200px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
}
#u48 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1040px;
  top:9px;
  width:249px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:42px;
}
#u50 {
  position:absolute;
  left:2px;
  top:13px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:103px;
  top:8px;
  width:470px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:45px;
}
#u52 {
  position:absolute;
  left:2px;
  top:14px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:602px;
  top:21px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:980px;
  top:60px;
  width:360px;
  height:300px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  position:absolute;
  left:999px;
  top:60px;
  visibility:hidden;
}
#u56_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u56_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:280px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:280px;
}
#u58 {
  position:absolute;
  left:2px;
  top:132px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:24px;
  top:50px;
  width:263px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:19px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:7px;
  top:57px;
  width:7px;
  height:7px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:172px;
  top:79px;
  width:150px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:24px;
  top:79px;
  width:58px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:8px;
  top:100px;
  width:282px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:265px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:282px;
  height:1px;
}
#u72 {
  position:absolute;
  left:24px;
  top:116px;
  width:263px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:19px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:7px;
  top:123px;
  width:7px;
  height:7px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u75 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:172px;
  top:145px;
  width:150px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:24px;
  top:145px;
  width:58px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:8px;
  top:166px;
  width:282px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:265px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:282px;
  height:1px;
}
#u81 {
  position:absolute;
  left:24px;
  top:184px;
  width:263px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:19px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:7px;
  top:191px;
  width:7px;
  height:7px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u84 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:172px;
  top:213px;
  width:150px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:24px;
  top:213px;
  width:58px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:250px;
  width:300px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:5px;
  width:296px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:1100px;
  top:6px;
  width:60px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u92 {
  position:absolute;
  left:1110px;
  top:14px;
  width:39px;
  height:33px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u93 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:320px;
  top:60px;
  width:980px;
  height:860px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:860px;
}
#u95 {
  position:absolute;
  left:2px;
  top:422px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:439px;
  top:160px;
  width:681px;
  height:450px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:450px;
}
#u97 {
  position:absolute;
  left:2px;
  top:217px;
  width:677px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:439px;
  top:160px;
  width:681px;
  height:50px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:50px;
}
#u99 {
  position:absolute;
  left:2px;
  top:17px;
  width:677px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:458px;
  top:174px;
  width:102px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:1073px;
  top:174px;
  width:27px;
  height:25px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u103 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:458px;
  top:232px;
  width:62px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:510px;
  top:225px;
  width:170px;
  height:35px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:35px;
}
#u107 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:520px;
  top:228px;
  width:28px;
  height:28px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u109 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:564px;
  top:232px;
  width:62px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:698px;
  top:232px;
  width:282px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:20px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:458px;
  top:379px;
  width:50px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:508px;
  top:367px;
  width:48px;
  height:46px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:46px;
}
#u117 {
  position:absolute;
  left:2px;
  top:15px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:519px;
  top:414px;
  width:62px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:458px;
  top:461px;
  width:50px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:508px;
  top:449px;
  width:48px;
  height:46px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:46px;
}
#u123 {
  position:absolute;
  left:2px;
  top:15px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:519px;
  top:496px;
  width:62px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:510px;
  top:270px;
  width:282px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:20px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:510px;
  top:305px;
  width:450px;
  height:40px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:40px;
}
#u129 {
  position:absolute;
  left:2px;
  top:12px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:513px;
  top:308px;
  width:38px;
  height:34px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u131 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:564px;
  top:308px;
  width:126px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:17px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:564px;
  top:327px;
  width:56px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:17px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:930px;
  top:315px;
  width:22px;
  height:20px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u137 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:458px;
  top:550px;
  width:65px;
  height:30px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u139 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:538px;
  top:550px;
  width:65px;
  height:30px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u141 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:530px;
  top:180px;
  visibility:hidden;
}
#u142_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u142_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:382px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:382px;
}
#u144 {
  position:absolute;
  left:2px;
  top:183px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:24px;
  top:332px;
  width:65px;
  height:30px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u146 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:104px;
  top:332px;
  width:65px;
  height:30px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u148 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:40px;
}
#u150 {
  position:absolute;
  left:2px;
  top:12px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:24px;
  top:10px;
  width:122px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:21px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:466px;
  top:12px;
  width:22px;
  height:20px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u154 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:24px;
  top:56px;
  width:250px;
  height:25px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
}
#u156 {
  position:absolute;
  left:2px;
  top:4px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:32px;
  top:58px;
  width:137px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:20px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:248px;
  top:60px;
  width:20px;
  height:16px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u160 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:24px;
  top:93px;
  width:464px;
  height:224px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:224px;
}
#u162 {
  position:absolute;
  left:2px;
  top:104px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:32px;
  top:106px;
  width:32px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u164 {
  position:absolute;
  left:16px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u165 {
  position:absolute;
  left:64px;
  top:104px;
  width:62px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:48px;
  top:216px;
  width:32px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u168 {
  position:absolute;
  left:16px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u169 {
  position:absolute;
  left:80px;
  top:214px;
  width:62px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:24px;
  top:133px;
  width:464px;
  height:40px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:40px;
}
#u172 {
  position:absolute;
  left:2px;
  top:12px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:32px;
  top:146px;
  width:32px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u174 {
  position:absolute;
  left:16px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u175 {
  position:absolute;
  left:64px;
  top:144px;
  width:176px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:19px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:394px;
  top:140px;
  width:83px;
  height:24px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
}
#u178 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:32px;
  top:186px;
  width:32px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u180 {
  position:absolute;
  left:16px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u181 {
  position:absolute;
  left:64px;
  top:184px;
  width:146px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:48px;
  top:245px;
  width:32px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u184 {
  position:absolute;
  left:16px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u185 {
  position:absolute;
  left:80px;
  top:243px;
  width:62px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:426px;
  top:58px;
  width:62px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:515px;
  top:160px;
  visibility:hidden;
}
#u189_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u189_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:462px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:462px;
}
#u191 {
  position:absolute;
  left:2px;
  top:223px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:24px;
  top:412px;
  width:65px;
  height:30px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u193 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:104px;
  top:412px;
  width:65px;
  height:30px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u195 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:40px;
}
#u197 {
  position:absolute;
  left:2px;
  top:12px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:24px;
  top:10px;
  width:122px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:21px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:499px;
  top:12px;
  width:22px;
  height:20px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u201 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:24px;
  top:158px;
  width:481px;
  height:121px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:121px;
}
#u203 {
  position:absolute;
  left:2px;
  top:52px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:24px;
  top:130px;
  width:52px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:40px;
  top:172px;
  width:60px;
  height:28px;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u207 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:120px;
  top:172px;
  width:60px;
  height:28px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u209 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:200px;
  top:172px;
  width:60px;
  height:28px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u211 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:24px;
  top:293px;
  width:156px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:19px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:24px;
  top:322px;
  width:96px;
  height:28px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u215 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:130px;
  top:322px;
  width:96px;
  height:28px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u217 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:236px;
  top:322px;
  width:96px;
  height:28px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u219 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:342px;
  top:322px;
  width:96px;
  height:28px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u221 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:24px;
  top:358px;
  width:96px;
  height:28px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u223 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:130px;
  top:358px;
  width:96px;
  height:28px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u225 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:236px;
  top:358px;
  width:96px;
  height:28px;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u227 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:342px;
  top:358px;
  width:96px;
  height:28px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u229 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:24px;
  top:54px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:24px;
  top:83px;
  width:72px;
  height:28px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:28px;
}
#u233 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:126px;
  top:83px;
  width:112px;
  height:28px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:28px;
}
#u235 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:76px;
  top:90px;
  width:17px;
  height:15px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u237 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:218px;
  top:91px;
  width:17px;
  height:15px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u239 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:440px;
  top:54px;
  width:81px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
