body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:60px;
  width:220px;
  height:1110px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:1110px;
}
#u1 {
  position:absolute;
  left:2px;
  top:547px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:100px;
  top:60px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:111px;
  top:67px;
  width:37px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:43px;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:119px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:111px;
  top:126px;
  width:37px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:43px;
}
#u10 {
  position:absolute;
  left:2px;
  top:14px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:100px;
  top:178px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:111px;
  top:185px;
  width:37px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:43px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:275px;
  top:197px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:100px;
  top:237px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u18 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:158px;
  top:80px;
  width:82px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:158px;
  top:139px;
  width:72px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:158px;
  top:198px;
  width:122px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:158px;
  top:257px;
  width:142px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:100px;
  top:296px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u28 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:158px;
  top:316px;
  width:142px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:100px;
  top:355px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u32 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:111px;
  top:362px;
  width:37px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:43px;
}
#u34 {
  position:absolute;
  left:2px;
  top:14px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:275px;
  top:374px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:100px;
  top:414px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u38 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:158px;
  top:375px;
  width:122px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:158px;
  top:434px;
  width:142px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:100px;
  top:473px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:158px;
  top:493px;
  width:142px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:320px;
  top:60px;
  width:980px;
  height:1110px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1110px;
}
#u48 {
  position:absolute;
  left:2px;
  top:547px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:348px;
  top:80px;
  width:78px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:446px;
  top:104px;
  width:58px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:41px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:4px;
  width:58px;
  height:2px;
}
#u52 {
  position:absolute;
  left:446px;
  top:80px;
  width:122px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:518px;
  top:216px;
  width:222px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:21px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:658px;
  top:276px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:518px;
  top:276px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:518px;
  top:247px;
  width:550px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:19px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:518px;
  top:331px;
  width:122px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:518px;
  top:305px;
  width:220px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:19px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:418px;
  top:140px;
  width:100px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:528px;
  top:140px;
  width:100px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:348px;
  top:140px;
  width:60px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:518px;
  top:385px;
  width:222px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:21px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:518px;
  top:416px;
  width:550px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:19px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:518px;
  top:500px;
  width:122px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:518px;
  top:474px;
  width:220px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:19px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:348px;
  top:380px;
  width:140px;
  height:140px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u81 {
  position:absolute;
  left:2px;
  top:60px;
  width:136px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:518px;
  top:554px;
  width:222px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:21px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:518px;
  top:585px;
  width:550px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:19px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:518px;
  top:669px;
  width:122px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:518px;
  top:643px;
  width:220px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:19px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:518px;
  top:723px;
  width:222px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:21px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:518px;
  top:754px;
  width:550px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:19px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:518px;
  top:838px;
  width:122px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:518px;
  top:812px;
  width:220px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:19px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:348px;
  top:718px;
  width:140px;
  height:140px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u99 {
  position:absolute;
  left:2px;
  top:60px;
  width:136px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:518px;
  top:892px;
  width:222px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:21px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:518px;
  top:923px;
  width:550px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:19px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:518px;
  top:1007px;
  width:122px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:518px;
  top:981px;
  width:220px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:19px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:348px;
  top:1070px;
  width:920px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:40px;
}
#u109 {
  position:absolute;
  left:2px;
  top:10px;
  width:916px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:348px;
  top:210px;
  width:140px;
  height:140px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u111 {
  position:absolute;
  left:2px;
  top:60px;
  width:136px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:351px;
  top:213px;
  width:135px;
  height:135px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:135px;
}
#u113 {
  position:absolute;
  left:2px;
  top:60px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:348px;
  top:549px;
  width:140px;
  height:140px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u115 {
  position:absolute;
  left:2px;
  top:60px;
  width:136px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:352px;
  top:553px;
  width:135px;
  height:135px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:135px;
}
#u117 {
  position:absolute;
  left:2px;
  top:60px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:348px;
  top:887px;
  width:140px;
  height:140px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u119 {
  position:absolute;
  left:2px;
  top:60px;
  width:136px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:352px;
  top:891px;
  width:135px;
  height:135px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:135px;
}
#u121 {
  position:absolute;
  left:2px;
  top:60px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:100px;
  top:0px;
  width:1200px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
}
#u123 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:1040px;
  top:9px;
  width:249px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:42px;
}
#u125 {
  position:absolute;
  left:2px;
  top:13px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:103px;
  top:8px;
  width:470px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:45px;
}
#u127 {
  position:absolute;
  left:2px;
  top:14px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:602px;
  top:21px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:1100px;
  top:6px;
  width:60px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u131 {
  position:absolute;
  left:1110px;
  top:14px;
  width:39px;
  height:33px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u132 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:348px;
  top:867px;
  width:920px;
  height:10px;
}
#u133_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u134 {
  position:absolute;
  left:348px;
  top:698px;
  width:920px;
  height:10px;
}
#u134_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u135 {
  position:absolute;
  left:348px;
  top:530px;
  width:920px;
  height:10px;
}
#u135_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u136 {
  position:absolute;
  left:348px;
  top:360px;
  width:920px;
  height:10px;
}
#u136_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u136_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u136_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u137 {
  position:absolute;
  left:798px;
  top:276px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:658px;
  top:445px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:518px;
  top:445px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:798px;
  top:445px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:658px;
  top:614px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:518px;
  top:614px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:798px;
  top:614px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:658px;
  top:783px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:518px;
  top:783px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:798px;
  top:783px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:658px;
  top:952px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:518px;
  top:952px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:798px;
  top:952px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
