body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:60px;
  width:220px;
  height:860px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:860px;
}
#u1 {
  position:absolute;
  left:2px;
  top:422px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:100px;
  top:60px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:111px;
  top:67px;
  width:37px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:43px;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:119px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:111px;
  top:126px;
  width:37px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:43px;
}
#u10 {
  position:absolute;
  left:2px;
  top:14px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:100px;
  top:178px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:111px;
  top:185px;
  width:37px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:43px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:275px;
  top:197px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:100px;
  top:237px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u18 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:158px;
  top:80px;
  width:82px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:158px;
  top:139px;
  width:72px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:158px;
  top:198px;
  width:122px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:158px;
  top:257px;
  width:142px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:100px;
  top:296px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u28 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:158px;
  top:316px;
  width:142px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:100px;
  top:355px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u32 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:111px;
  top:362px;
  width:37px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:43px;
}
#u34 {
  position:absolute;
  left:2px;
  top:14px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:275px;
  top:374px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:100px;
  top:414px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u38 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:158px;
  top:375px;
  width:122px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:158px;
  top:434px;
  width:142px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:100px;
  top:473px;
  width:220px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:158px;
  top:493px;
  width:142px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:320px;
  top:60px;
  width:980px;
  height:860px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:860px;
}
#u48 {
  position:absolute;
  left:2px;
  top:422px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:320px;
  top:60px;
  width:980px;
  height:60px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:60px;
}
#u50 {
  position:absolute;
  left:2px;
  top:22px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:350px;
  top:80px;
  width:222px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:21px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:530px;
  top:216px;
  width:160px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:20px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:745px;
  top:216px;
  width:215px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:350px;
  top:140px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:350px;
  top:385px;
  width:390px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:745px;
  top:186px;
  width:220px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:350px;
  top:180px;
  width:140px;
  height:140px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u64 {
  position:absolute;
  left:2px;
  top:60px;
  width:136px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:353px;
  top:183px;
  width:135px;
  height:135px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:135px;
}
#u66 {
  position:absolute;
  left:2px;
  top:60px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:530px;
  top:186px;
  width:160px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:20px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:530px;
  top:246px;
  width:150px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:530px;
  top:290px;
}
#u71_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u71_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u71_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u71_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:350px;
  top:349px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:350px;
  top:430px;
  width:138px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:21px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:350px;
  top:473px;
  width:60px;
  height:60px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u81 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:360px;
  top:542px;
  width:70px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:360px;
  top:564px;
  width:70px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:440px;
  top:473px;
  width:60px;
  height:60px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u87 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:450px;
  top:542px;
  width:70px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:450px;
  top:564px;
  width:70px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:530px;
  top:473px;
  width:60px;
  height:60px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u93 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:529px;
  top:542px;
  width:70px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:540px;
  top:564px;
  width:70px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:620px;
  top:473px;
  width:60px;
  height:60px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u99 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:619px;
  top:542px;
  width:70px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:630px;
  top:564px;
  width:70px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:710px;
  top:473px;
  width:60px;
  height:60px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u105 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:714px;
  top:542px;
  width:70px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:720px;
  top:564px;
  width:70px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:350px;
  top:610px;
  width:138px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:21px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:350px;
  top:650px;
  width:222px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:20px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:350px;
  top:680px;
  width:222px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:20px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:350px;
  top:710px;
  width:222px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:20px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:350px;
  top:756px;
  width:138px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:21px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:350px;
  top:796px;
  width:222px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:20px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:350px;
  top:826px;
  width:222px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:20px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:350px;
  top:856px;
  width:222px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:20px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:100px;
  top:0px;
  width:1200px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
}
#u127 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:1040px;
  top:9px;
  width:249px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:42px;
}
#u129 {
  position:absolute;
  left:2px;
  top:13px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:103px;
  top:8px;
  width:470px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:45px;
}
#u131 {
  position:absolute;
  left:2px;
  top:14px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:602px;
  top:21px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:1100px;
  top:6px;
  width:60px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u135 {
  position:absolute;
  left:1110px;
  top:14px;
  width:39px;
  height:33px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u136 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:1240px;
  top:78px;
  width:40px;
  height:25px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u138 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:1248px;
  top:80px;
  width:24px;
  height:22px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u140 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
