<?xml version="1.0"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 全部日志 -->
	<appender name="normal_log_file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="File" value="${log4j.path}/phoenix-tongren/normal.log" />
		<param name="DatePattern" value=".yyyyMMddHH" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %d{yyyyMMddHHmmss} %c %t %m%n" />
		</layout>
	</appender>
	<logger name="com.ginkgocap.ywxt">
		<level value="${log4j.level}"></level>
	</logger>
	<root>
		<level value="error" />
		<appender-ref ref="normal_log_file" />
	</root>
</log4j:configuration> 


